<%= form_with(model: [tracker, measurement_type], local: true) do |form| %>
  <% if measurement_type.errors.any? %>
    <div>
      <h2><%= pluralize(measurement_type.errors.count, "error") %> prohibited this measurement_type from being saved:</h2>

      <ul>
      <% measurement_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :name %>
    <%= form.text_field :name, id: :measurement_type_name %>
  
    <%= form.submit %>
  
<% end %>
