<p><%= notice %></p>

<h1>
  Name:
  <%= @tracker.name %>
</h1>
<% if @tracker.measurement_types %>
  <ul>
    <% @tracker.measurement_types.each do |type| %>
      <li>
        <%= type.name %> <%= link_to 'X', '#' %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= button_tag "foo"%>
<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Measurement Types', tracker_measurement_types_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>
