<!DOCTYPE html>
<html>
  <head>
    <title>Historical</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="nav-md <%= content_for(:body_class) %>">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <%= link_to 'Historical', root_path, class: 'site_title' %>
            </div>

            <div class="clearfix"></div>

            <br>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section active">
                <ul class="nav side-menu" style="">
                  <li>
                    <%= link_to root_path  do %>
                      <i class="fa fa-home"></i>Home
                    <% end %>
                  </li>
                  <li>
                    <%= link_to trackers_path  do %>
                      <i class="fa fa-table"></i>Trackers
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <%= current_user.email %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <% if user_signed_in? %>
                      <li>
                        <%= link_to edit_user_registration_path do  %>
                          <span>Settings</span>
                        <% end %>
                      </li>

                      <li>
                        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>

        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <% if notice %>
            <div class="alert alert-success alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
              </button>
              <%= notice %>
            </div>
          <% end %>

          <% if alert %>
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
              </button>
              <%= alert %>
            </div>
          <% end %>

          <%= yield %>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
  </body>
</html>
