<!DOCTYPE html>
<html>
  <head>
    <title>Historical</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
<body>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-start navbar-brand">
            <%= link_to root_path, class: 'logo' do %>
            <%= content_tag :span, class: 'logo-mini' do %>
                <b>H</b>
            <% end %>
            <%= content_tag :span, class: 'logo-lg' do %>
                Historical
            <% end %>
            <% end %>
        </div>
    <!-- Navbar Right Menu -->
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <!-- Menu Toggle Button -->
                <a href="#" class="navbar-link">
                    <%= current_user.email %>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
                <div class="navbar-dropdown">
                    <%= link_to 'Profile', edit_user_registration_path, class: "navbar-item" %>
                    <%= link_to('Sign out', destroy_user_session_path, :method => :delete, class: "navbar-item") %>
                </div>
            </div>
        </div> 
    </div>
</nav>

<div class="wrapper">
    <div class="columns">
        <aside class="column is-2">
            <ul class="sidebar-menu tree" data-widget="tree">
                <li>
                <%= link_to root_path  do %>
                    <i class="fa fa-home"></i><span>Home</span>
                <% end %>
                </li>
                <li class="active">
                <%= link_to trackers_path do %>
                    <i class="fa fa-table"></i><span>Trackers</span>
                <% end %>
                </li>
            </ul> 
        </aside>

        <main class="column">
            <div class="main-body">
                <%= yield %>
            </div>

            <footer class="is-light">
            <a href="https://github.com/deepredsky/Historical">Source</a>
            </footer>
        </main>
    </div>
</div>
</body>
</html>
